@media screen and (max-width:508px) {
    .conteiner{
       width: 100%;
    }
  }
  
  @media screen and (max-width: 508px) {
      .menu li{ 
         margin-right: 10px;
         
      }  
     }
  
  @media screen and (max-width:508px){
       .men-nav-link {
      margin-right: 0;}
       }
  @media screen and (max-width:508px){
  .men-nav{
      padding: 0%;
  }
  }
  @media screen and (max-width: 508px) {
   .menu li a{ 
      font-size: 10px;}
      
   }  
  
  
  @media screen and (max-width:508px){
      .centr-conteiner{
       background-image: none;
       padding-top: 70px;
       padding-bottom: 0px;
       padding-left: 20px;
       padding-right: 20px;
      }
  }
  
  @media screen and (max-width:508px){
      .put-the-section{
       padding-top: 40px;
  }
  }
      
  
  @media screen and (max-width:508px){
      .conteiner-put{
       display: contents;
          
  }
  }
      
  @media screen and (max-width:508px){
      .conteiner-put article{ 
      margin-bottom: 50px;
      padding-left: 20px;  
        
  }
  }
      
  @media screen and (max-width:508px){
      .conteiner-put img{
       width: 100%;
  }
  }
      
  @media screen and (max-width:508px){
      .conteiner-you-dont{ 
      display: contents;
  }
  }
  
  @media screen and (max-width:508px){
      .conteiner-you-dont article{ 
      padding-left: 20px;
  }
  }
  
  @media screen and (max-width:508px){
      .conteiner-you-dont img{
       width: 100%;
  }
  }
   
  @media screen and (max-width:508px){
      .we-partner{ 
      padding-top: 80px;
      padding-bottom: 80px;
  }
  }
  
  
  @media screen and (max-width:508px){
      .images-link{ 
      display: flex; 
      flex-wrap: wrap;
  }
  }
  
  @media screen and (max-width:508px){
      .section-hr{ 
     padding-bottom: 80px;
     padding-top: 80px;
  }
  }
  
  @media screen and (max-width:508px){
      .educates{ 
      display: flex; 
      flex-wrap: wrap;
  }
  }
  
   
  @media  screen and (max-width:508px) {
      .employees{ 
      padding-top: 80px;
      padding-bottom: 80px;
  
      }
  } 
  
  
  @media  screen and (max-width:508px) {
      .people{ 
      display: none;
  
      }
  }
  
  @media  screen and (max-width:508px) {
      .how-the{ 
      padding-top: 80px;
      padding-bottom: 40px;
  
      }
  }
  
  @media  screen and (max-width:508px) {
      .conteiner-how-the-scenes{ 
      display: contents;
  
      }
  }
  
  @media  screen and (max-width:508px) {
      .conteiner-how-the-scenes article{ 
      padding-left: 20px;
  
      }
  }
  
  @media  screen and (max-width:508px) {
      .conteiner-how-the-scenes img{
      width: 100%; 
  
      }
  }
  
  @media  screen and (max-width:508px) {
      .consider{
      padding-bottom: 100px;
        
      }
  }
  
  
  @media  screen and (max-width:508px) {
      .conteiner-protect{
      display: flex; 
      flex-wrap: wrap; 
  
      }
  }
  
  @media  screen and (max-width:508px) {
      .easy-as{
      padding-top: 80px;
      padding-bottom: 80px;
      }
  }
  
  
  @media  screen and (max-width:508px) {
      .fill-out{
      display: flex; 
      flex-wrap: wrap; 
      }
  }
  
  @media  screen and (max-width:508px) {
      .fill-out{
      display: flex;
      flex-wrap: wrap; 
      }
  }
  
  @media  screen and (max-width:508px) {
      .conteiner-fill-out{
       position: relative;
      }
  }
  
  @media  screen and (max-width:508px) {
      .conteiner-fill-out{ 
      position: relative;
      }
  }
  @media screen and (max-width:508px) {
     .conteiner-fill-out::after {
      position: absolute;
       -webkit-transform: rotate(90deg);
      transform: rotate(90deg); 
      top: 230px; left: 100px;
     }
  }
      
  @media  screen and (max-width:508px) {
      .time-it{ 
      position: relative;
      margin-right:0;
      }
  }
  @media screen and (max-width:508px) {
     .time-it::after{
      position: absolute; 
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); 
      top: 230px; left: 100px;
     }
  }
  
  @media  screen and (max-width:508px) {
      .simple{ 
      display: contents;
      }
  }
  
  @media  screen and (max-width:508px) {
      .not-just{
      padding-top: 50px;
      padding-bottom: 50px;
      }
  }
  
  
  @media  screen and (max-width:508px) {
      .downliad{ 
      padding-top: 10px;
      padding-bottom: 50px;
      padding-left: 20px;
      }
  }
  
  @media  screen and (max-width:508px) {
      .simple{ 
      display: contents;
      }
  }
  
  @media  screen and (max-width:508px) {
      .simple img{ 
      width: 100%;
      }
  }
  
  @media  screen and (max-width:508px) {
      .sec-cet{ 
      padding-top: 80px;
      padding-bottom: 80px;
      }
  }
  
  
  @media  screen and (max-width:508px) {
      .sec-cet::after{
      background-image: none;
      }
  }
  @media  screen and (max-width:508px) {
      .sec-cet::before{
      background-image: none;
      }
  }
  @media screen and (max-width:508px){
     .stay_bet{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 100px;}
  }
  @media screen and (max-width:508px){
    .but_sing button{
       margin-left: 18px;   }
 }

  @media screen and (max-width:508px){
    .p_compani{
       padding-left: 10px;
       padding-right: 10px;    }
 }
 @media screen and (max-width:508px){
    .conteiner_cler_inc p{
       padding-left: 10px;
       padding-right: 10px;    }
 }